
:root{
    --main-color:rgba(0, 47, 255, 0.727);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
  }
body{
    width: 100%;
    height: 100vh;
    font-family: 'Lora', serif;
   text-transform: capitalize;
}
.containar{
background: rgb(0, 15, 36);
min-height: 100%;
min-width: 100%;
 position: relative;
overflow: hidden;
}
.containar::before{
    content: "";
position: fixed;
background:var(--main-color);
left: 50%;
top: 80%;
height: 100%;
transform: translateX(-50%) skew(0,10deg);
width: 200%;
border-radius: 70%;
animation: wave 3s ease-in-out infinite alternate;
}
.containar .header{
height: 4rem;
width: 100%;

}

.containar .header .flex-header{
display: flex;
align-items: center;
padding: 20px;
justify-content: space-between;
position: relative;
}
.containar .header .flex-header .logo{
position: relative;
font-weight: bold;
width: 300px;
color: #eee;
}
.containar .header .flex-header .logo::after{
    content: "";
    position: absolute;
    bottom:-10px;
    left: 0;
    height: 3px;
     width: calc(100% - 90px);
    background: var(--main-color);
}
.containar .header .flex-header .logo::before{
position: absolute;
content: "";
height: 15px;
width:15px;
border-radius: 50%;
background: var(--main-color); 
left: 0;
bottom:-15px;
z-index: 3;
animation: toright 1s alternate infinite;
}
.containar .header .flex-header ul{
list-style: none;
display: flex;
margin: 0;
}

.containar .header .flex-header ul li{
margin-left: 15px;
border: 1px solid var(--main-color);
height: 50px;
width: 120px;
text-align: center;
border-radius: 5px;
position: relative;
cursor: pointer;
}
@media(max-width:945px){
    .containar .header .flex-header ul{
        display: none;
    }

}
.containar .header .flex-header ul li.active{
    background: var(--main-color);
        
}
.containar .header .flex-header ul li::after{
    content: "";
    position: absolute;
    background: var(--main-color);
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    transition: 0.3s;
}

.containar .header .flex-header ul li:hover::after{
    width: 100%;
} 
.containar .header .flex-header ul li a{
color: #eee;
text-decoration: none;
position: absolute;
top: -40%;
left:15%;
line-height: 52px;
padding: 15px;
font-size: 25px;
z-index: 3;
}
.containar .header .flex-header ul li a span{
    line-height: 27px;
    padding: 10px;
}
.settings-box{
    position: fixed;
    top: 0;
    transition: 0.3s;
    left: -390px;
    border: 1px solid var(--main-color);
   background: rgb(0, 15, 36);
       width: 390px;
    height: 100%;
    z-index: 1000;
    padding: 5px;
}
@media(max-width:415px){
    .settings-box{
        left: -290px;
        width: 290px;
    }


}


.settings-box .settings{
 background: #00e4ff0d;
    text-align: center;
    padding: 10px;
}
.settings-box .settings h1{
    margin-bottom: 15px;
    margin-top: 0;
    color: #eee;
    position: relative;
}
.settings-box .settings h1::after{
   content: "";
    position: absolute;
  width: 100%;
  height: 3px;
  background: var(--main-color);
  bottom: -5px;
  left: 0;
  animation: colors 0.4s steps(50) alternate infinite;
}
.settings-box .settings ul{
    display: flex;
    margin: 0;
    list-style: none;
    justify-content: space-between;
}
.settings-box .settings ul li{
    height: 30px;
    width: 30px;
    opacity: 1;
    border-radius: 50%;
    cursor: pointer;
 }
.settings-box .settings ul li.active{
    opacity: 1;
}
.settings-box .settings ul li:first-child{
    background: rgb(97 10 224 / 58%);
}
.settings-box .settings ul li:nth-child(2){
    background: rgb(255 0 108 / 59%);

}
.settings-box .settings ul li:nth-child(3){
background:rgb(139 255 0 / 52%);

}
.settings-box .settings ul li:nth-child(4){
    background: rgba(0, 47, 255, 0.727);

}
.settings-box .settings ul li:nth-child(5){
 background:rgb(0 255 253 / 54%);

}

.settings-box .toggle{
    position: absolute;
    top: 20%;
    right: -62px;
    text-align: center;
    height: 60px;
    line-height: 35px;
      transform: translateY(-50%,-50%);
    background: var(--main-color);
      border-bottom-right-radius: 10px;
   border-top-right-radius: 10px;
    padding: 17px;
    cursor: pointer;
}
.settings-box div i{
    font-size: 27px;
    line-height: 12px;
    color: #eee;}
.open{
left: 0;
}
.containar .info-box{
    height: 800px;
   display: flex;
   align-items: center;
    margin-left:25px;
    margin-right:25px;
}

.containar .info-box .info{
text-align: center;
margin: auto;
color: #eee;
max-width: 576px;
}
.containar .info-box .info p{
    display: block;
    font-size: 20px;
    margin-bottom: 30px;
    color: rgba(238, 238, 238, 0.691);
    text-transform: capitalize;
}
.containar .info-box .info h3{
    margin-bottom: 10px;
    display: block;
    font-size:60px;
    text-transform: capitalize;
}
.containar .info-box .info h3 span{
    color: var(--main-color);
    text-transform: capitalize;
}
.containar .info-box .info h2{
 white-space: nowrap;
color: #eee;
text-transform: capitalize;
width: 0;
font-size:45px;
overflow: hidden;
border-right:2px solid var(--main-color);
margin: auto;
animation: control-width 3s steps(28) 2s both,blinks 0.5s infinite;  
margin-bottom: 30px; 
}
.containar .info-box .info .a{
    background: var(--main-color);
    color: #eee;
    padding: 10px;
    text-decoration: none;
    margin-top: 10px;
    border-radius: 5px;
    font-size: 27px;
}
@media(max-width:515px){
    .containar .info-box .info .a{
        font-size: 20px;
    }  


}
@media(max-width:945px){
    .containar .info-box .info h3,
    .containar .info-box .info h2{
    font-size: 40px;
}
         
    
}
@media(max-width:635px){
    .containar .info-box .info h3,
    .containar .info-box .info h2{
    font-size: 30px;
}
         
    
}
.containar .info-box .info  .accounts{
margin-top: 25px;
 }
.containar .info-box .info  .accounts a{
 margin-right:20px;
 text-decoration: none;
position: relative;
font-size: 20px;
}
.containar .info-box .info  .accounts a i{
    font-size: 35px;
    color: #eee;
    transition: 0.3s;
    padding: 10px;
}
.containar .info-box .info  .accounts a:hover i {
    color: var(--main-color);
}
.containar .info-box .info  .accounts a:hover::after{
    width: 100%;
}
@media(max-width:415px){
    .containar .info-box .info  .accounts a{
        margin-right:5px;
        text-decoration: none;
       position: relative;
       font-size: 20px;
       }



}



/* start animations  */
@keyframes control-width{
    from{
 width: 0;
    }
    to{
   width:450px;
    }
 
 }
 
 @keyframes blinks{
     from{
  border-right-color:var(--main-color) ;
     }
     to{
         border-right-color:transparent;
     }
 }
 @keyframes wave {
    from{
        transform: translateX(-50%) skew(0,-10deg);
    }
     to{
        transform: translateX(-50%) skew(0,10deg);
    }
}
@keyframes toright{
    from{
        left: 0;
    }
    to{
     left:195px;
    }
}
@keyframes colors{
    from{
        background: var(--main-color);

    }
    to{
    background:#eee;
    }

}

@media(max-width:945px){
    @keyframes control-width{
        from{
     width: 0;
        }
        to{
       width:315px;
        }
     
     }


}
/* start animations  */ 

/* end home-page */

.skills-page{
height: 500px;
display: flex;
align-items: center;
justify-content: center;
position: relative;
background:#000c3a66;;
margin:50px 20px;
}
.skills-page h1{
    position: absolute;
    top: -110px;
    padding: 5px;
    left: 10px;
    color: #eee;
    border-bottom:3px solid var(--main-color);
    border-right:3px solid var(--main-color);
} 
.skills-page .skills{
margin: auto;

}
.skills-page .skills .skill-box{
    background: #152cb40d;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
       width: 1600px;
       padding: 10px;
}

@media(max-width:1650px){
    .skills-page .skills .skill-box{
     max-width:1300px;
    }  
}
@media(max-width:1327px){
    .skills-page .skills .skill-box{
     max-width:1100px;
    }  
}
@media(max-width:1155px){
    .skills-page .skills .skill-box{
     max-width:1000px;
    }  
}
@media(max-width:1033px){
    .skills-page .skills .skill-box{
     max-width:700px;
   }
   .skills-page .skills {
    padding: 15px;
   }  
}
@media(max-width:740px){
    .skills-page .skills .skill-box{
     max-width:500px;
   }
   .skills-page .skills {
    padding: 15px;
   }  
}
@media(max-width:540px){
    .skills-page .skills .skill-box{
     max-width:300px;
   }
   .skills-page .skills {
    padding: 15px;
   }  
}
.skills-page .skills .skill-box .skill-name{
    color: #eee;
    font-size: 22px;
    width: 130px;
}
.skills-page .skills .skill-box .skill-progess{
 background: #00e4ff0d;
height:30px;
width: 100%;
position: relative;
}
.skills-page .skills .skill-box .skill-progess span{
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.8s;
    width: 0;
    background: var(--main-color);
    height: 100%;
}
.about{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px,1fr));
    gap: 20px;
    margin: 50px 20px;
    background:#000c3a66;;
    position: relative;
    padding: 20px;
}
@media(max-width:535px){
.about{
 grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
}
}
.about h1{
    position: absolute;
    top: -80px;
    left:0;
    padding: 5px;
      color: #eee;
    border-bottom:3px solid var(--main-color);
    border-right:3px solid var(--main-color);
}
.about .box{
color: #eee;
background: #152cb40d;
padding: 10px;
position: relative;
}
.about .box p{
    color: rgba(238, 238, 238, 0.811);
    font-size: 18px;
    line-height: 28px;
    border-top:1px solid rgba(128, 128, 128, 0.275);
    text-transform: capitalize;
    padding: 5px;
}
.about .box:hover{
 background: #016c780d;
}
.about .box span{
    transition: 0.4s;
}
.about .box span:first-child{
   position: absolute;
   top: 0;
   left: 0;
   background: var(--main-color);
   height: 2px;
   width: 0;
}
 .about .box span:nth-child(2){
    position: absolute;
    bottom:0;
    left: 0;
    background: var(--main-color);
    height: 3px;
    width: 0;  
}
.about .box span:nth-child(3){
    position: absolute;
    top:0;
    left: 0;
    background: var(--main-color);
    height: 0;
    width: 3px;  
} 
.about .box span:nth-child(4){
    position: absolute;
    top:0;
    right: 0;
    background: var(--main-color);
    height: 0;
    width: 3px;  
} 
.about .box:hover span:nth-child(3),
.about .box:hover span:nth-child(4){
    height: 100%;
}

.about .box:hover span:nth-child(1),
.about .box:hover span:nth-child(2)
{
    width: 100%;
}
.about .box .info{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    margin-bottom: 30px;
}
.about .box .info .time{
    border: none;
    flex: 1;
    text-align: right;
    font-size:16px ;
}
.about .box .info h3{
    margin-bottom:10px;
    font-size: 23px;
}

.about .box .info img{
    width: 65px;
    height: 65px;
    border-radius: 50%;
    margin-right:25px;
   
}
/* end home-page */

/* start gallery page */
.services{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px,1fr));
    gap: 20px;
    margin:50px 20px;
    background:#000c3a66;;
    position: relative;
  padding: 20px;
}
@media(max-width:535px){
    .services{
     grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
    }
   } 
.services h1{
    position: absolute;
    top: -70px;
    left:0;
    padding: 5px;
      color: #eee;
    border-bottom:3px solid var(--main-color);
    border-right:3px solid var(--main-color);  
}
.services  .box{
    padding: 20px;
    background: #152cb40d;
 color: #eee;
 position: relative;
}
.services  .box span{
    position: absolute;
    background: var(--main-color);
    transition: 0.3s;
}
.services  .box span:first-child{
    position: absolute;
    top: 0;
    left: 0;
    height:3px;
    width: 0;
    left: 0;
    background: var(--main-color);
}
.services .box span:nth-child(2){
    position: absolute;
    bottom: 0;
    right: 0;
    height:3px;
    width:0;
    left: 0;
    background: var(--main-color);
}
.services .box:hover span:first-child,
.services .box:hover span:nth-child(2){
    width: 100%;
}

.services .box span:nth-child(3){
    position: absolute;
    top: 0;
     height:0%;
    width:3px;
    left: 0;
    background: var(--main-color);

}
.services .box span:nth-child(4){
    position: absolute;
    top: 0;
    height:0;
    width:3px;
    right: 0;
    background: var(--main-color);

}
.services .box:hover span:nth-child(3),
.services .box:hover span:nth-child(4){
    height: 100%;
}
.services  .box .thump{
text-align: center;
height: 80px;
}
.services  .box .thump i{
color: var(--main-color);
font-size: 70px;
}
.services  .box .box-info{
text-align: center;
}
.services  .box .box-info h2{
margin-top: 10px;
margin-bottom: 10px;
font-size: 34px;
}
.services  .box .box-info p{
    color: rgba(238, 238, 238, 0.811);
    font-size: 18px;
    line-height: 28px;
    border-top:1px solid rgba(128, 128, 128, 0.275);
    text-transform: capitalize;
    padding: 5px;
}



/*end gallery page */
.timeline {
    margin:50px 20px;
} 

.timeline .time-content {
    overflow: hidden;
    position: relative;
    background:#000c3a66;;
   padding: 20px;
  }
  
  .timeline .time-content::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 1px;
    top: 0;
    left: 50%;
    background-color: var(--main-color);
    margin-left: -1px;
  }
  @media(max-width:768px){
    .timeline .time-content::after{
   
  z-index: -1;
}
   } 
  
  .timeline .time-content .year {
    background: var(--main-color);
    width: 50px;
    margin: 20px auto;
    position: relative;
    z-index: 2;
    border-radius: 4px;
    text-align: center;
    color: #fff;
    padding: 2px 5px;
    font-weight: bold;
  }
  
  .timeline .time-content .left,
  .timeline .time-content .right {
    width: calc(50% - 25px);
    margin-bottom: 40px;
    position: relative;

  }
  
  .timeline .time-content .left {
    float: left;

  }
  
  .timeline .time-content .left::before {
    content: "";
    position: absolute;
    background: #fff;
    width: 15px;
    height: 15px;
    border: solid 3px var(--main-color);
    right: -35px;
    top: 20px;
    border-radius: 50%;
    z-index: 10;
  }
  
  .timeline .time-content .right::after {
    content: "";
    position: absolute;
    background: #fff;
    width: 15px;
    height: 15px;
    border: solid 3px var(--main-color);
    left: -35px;
    top: 20px;
    border-radius: 50%;
    z-index: 10;
  }
  
  .timeline .time-content .right {
    float: right;
  }
  
  .timeline .time-content .content {
    padding: 20px;
    background: #152cb40d;
    position: relative;
    transition: 0.3s;
  border:1px solid var(--main-color);  
}
  .timeline .time-content .content:hover{
    background:   #152cb41f;

  }
  
  
  .timeline .time-content .content h2 {
    font-weight: bold;
    color: var(--main-color);
    margin: 0 0 10px;
  }
  
  .timeline .time-content .content p {
    color: rgba(238, 238, 238, 0.811);
    font-size: 18px;
    line-height: 28px;
    border-top:1px solid rgba(128, 128, 128, 0.275);
    text-transform: capitalize;
    padding: 5px;
  }
  
  .clearfex {
    clear: both;
  }
  
  .timeline .time-content .left .content::before {
    content: "";
    border-style: solid;
    border-width: 10px;
    border-color: transparent transparent transparent #ffffff47;;
    position: absolute;
    height: 0;
    width: 0;
    right: -20px;
    top: 20px;
  }
  
  .timeline .time-content .right .content::before {
    content: "";
    border-style: solid;
    border-width: 10px;
    border-color: transparent #ffffff47 transparent transparent;
    position: absolute;
    height: 0;
    width: 0;
    left: -20px;
    top: 20px;
  }
  
  @media(max-width:768px){
  
  .timeline .time-content .left,
  .timeline .time-content .right{
  width: 100%;
  margin-bottom: 20px;
  }
  .timeline .time-content .left .content::before,
  .timeline .time-content .right .content::before{
    display: none;
  }
  .timeline .time-content .right::after,
  .timeline .time-content .left::before{
    display: none;
  }
  
  }
  

/* my work sectio starts */
.mywork{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    gap: 20px;
      margin:50px 20px;
     position: relative;
    padding: 40px;
    background:#000c3a66;;
}
.mywork .box{
    background: #152cb40d;
 position: relative;
 border-radius: 10px;
 overflow: hidden;
transition: 0.3s;
}
.mywork .box:hover .img1{
transform: scale(1.1);
cursor: pointer;

}
.mywork .box:hover{
    background:#016c780d;;
}
.mywork .box .thump{
overflow: hidden;
position: relative;
}
.mywork .box .thump .img1{
max-width: 100%;
transition: 0.6s;
}
 .mywork .box .thump .img2{
position: absolute;
width: 84px;
z-index: 1;
height: 84px;
border-radius: 50%;
top: 20px;
left: 20px;
border: 3px solid var(--main-color);
} 

.mywork .box .info{
color: #eee;
padding: 10px;
}
.mywork .box .info h3{
margin-top:15px;
margin-bottom: 10px;
font-size: 27px;
}
.mywork .box .info p{
    color: rgba(238, 238, 238, 0.811);
    font-size: 18px;
    line-height: 28px;
    border-top:1px solid rgba(128, 128, 128, 0.275);
    text-transform: capitalize;
    padding: 5px;
}
@media(max-width:1000px){
   .mywork{
    grid-template-columns: repeat(auto-fill, minmax(250px,1fr));

   }

}
 


.aims{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    gap: 20px;
    margin:50px 20px;
    position: relative;
    padding: 20px;   
    background:#000c3a66;

}
.aims .box{
    position: relative;
   padding:10px;
   background: #152cb40d;
   border-radius: 10px;
overflow: hidden;
transition: 0.4s;
}
.aims .box:hover .img3{
transform: scale(1.1);
cursor: pointer;

}
.aims .box:hover{
    background:#016c780d;;
}
.aims .box .thump{
    width: 100%;
} 
.aims .box .thump .img3{
max-width: 100%;
transition: 0.7s;
}
.aims .box .thump .img4{
    position: absolute;
width: 84px;
height: 84px;
border-radius: 50%;
top: 20px;
left: 20px;
border: 3px solid var(--main-color);
}
.aims .box h3{
    color: #eee;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 22px
}

.aims .box p{
    color: rgba(238, 238, 238, 0.811);
    font-size: 18px;
    line-height: 28px;
    border-top:1px solid rgba(128, 128, 128, 0.275);
    text-transform: capitalize;
    padding: 5px;
}
.layover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.616);
    z-index: 100;
  }
  
  .pupo {
    position: fixed;
    top: 50%;
   left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
   z-index: 101;
    padding: 10px;
    border: solid 5px rgba(0, 0, 0, 0.464);
    border-radius: 10px;
    
  }
  
  .pupo h3 {
    text-align: center;
    font-weight: bold;
    margin: 0 0 20px;
    color: var(--main-color);
  }
  
  .button {
    position: absolute;
    top: -15px;
    right: -15px;
    background: var(--main-color);
    width: 40px;
    height: 40px;
    line-height: 32px;
    text-align: center;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
    border-radius: 50%;
  }
  
  .pupo img {
width:100%;
  }

  @media(max-width:1000px){
    .pupo img {
       max-width: 100%;
          }    
   .pupo{
    width: 70%;
   }
}
 